#about_container h2 {
    color: #000;
}

#about_container p {
    text-align: justify;
    line-height: 1.57;
    font-style: italic;
    font-size: 18px;
    color: #333;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#about_container h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 25px;
    height: 100%;
    flex-wrap: wrap;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#contacts ul {
    margin-right: auto;
    margin-left: auto;
}

#contacts ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

#contacts li span {
    margin-left: 10px;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

#contacts svg {
    font-size: 18px;
    position: relative;
    bottom: -3px;
    color: #7f00e0;
}

#contacts a {
    color: #5746f5;
    text-decoration: none;
}

#contacts a:hover {
    color: #e69601;
}

#contact1 {
    position: absolute;
    left: 0;
}

#contact3 {
    position: absolute;
    right: 0;
}