#about_container h2 {
    color: #000;
}

#about_container p {
    text-align: justify;
    line-height: 1.57;
    font-style: italic;
    font-size: 18px;
    color: #333;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 100%;
}

#about_container h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

#contacts,
.skills_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 25px;
    height: 100%;
    flex-wrap: wrap;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.skills_container {
    margin-top: 40px;
}

#contacts ul {
    margin-right: auto;
    margin-left: auto;
}

#contacts ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

#contacts li span {
    margin-left: 10px;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

#contacts svg {
    font-size: 18px;
    position: relative;
    bottom: -3px;
    color: #7f00e0;
}

#contacts a {
    color: #5746f5;
    text-decoration: none;
}

#contacts a:hover {
    color: #e69601;
}

#contact1 {
    position: absolute;
    left: 0;
}

#contact3 {
    position: absolute;
    right: 0;
}

#about_container #front_title {
    text-align: left;
}

#front_skills h3,
#back_skills h3,
#others_skills h3,
#language_skills h3 {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: left;
}

#front_skills,
#back_skills,
#others_skills,
#language_skills {
    padding-bottom: 10px;
    padding-right: 44.9px;
    width: 45%;
    min-height: 260px;
}

#language_skills,
#back_skills {
    padding-right: 0;
    padding-left: 44.9px;
}

#front_skills li,
#back_skills li,
#others_skills li,
#language_skills li {
    margin-bottom: 15px;
    font-size: 18px;
    font-style: italic;
}

#buttons_about {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#buttons_about button {
    width: 49%;
}

#buttons_about button a {
    width: 100%;
}