footer {
    height: 125px;
    left: 225px;
    width: calc(100% - 225px);
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

footer p {
    line-height: 125px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #6d01c0;
}