.boxes_container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#special_box svg {
    color: #ebc700;
    display: inline-block;;
}